<h3>Portfolio Items</h3>

<% @portfolio_items.each do |portfolio| %>

	<h5><%= portfolio.title %></h5>
	<h5><%= portfolio.subtitle %></h5>
	<p><%= portfolio.body %></p>
	<%= image_tag portfolio.thumb_image if !portfolio.thumb_image.nil? %>
	<%=  portfolio.main_image unless portfolio.main_image.nil? %>
	<hr>
<% end %>