<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">March 2014</a></li>
      <li><a href="#">February 2014</a></li>
      <li><a href="#">January 2014</a></li>
    </ol>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Nous rejoindre</h4>
    <a href="https://www.instagram.com/somdayves/?hl=fr"><%= fa_stacked_icon "instagram", base: "square-o" %></a>
    <a href="https://twitter.com/home"><%= fa_stacked_icon "twitter", base: "square-o" %></a>
    <a href="https://www.facebook.com/"><%= fa_stacked_icon "facebook", base: "square-o" %></a>
    <a href="https://github.com/metouole"><%= fa_stacked_icon "github", base: "square-o" %></a>
    <a href="https://yvesomda.wordpress.com"><%= fa_stacked_icon "wordpress", base: "square-o" %></a>
  </div>
</aside><!-- /.blog-sidebar -->