<!DOCTYPE html>
<html>
  <head>
    <title><%= @title_page %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %> " />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
   
    <%= render 'shared/application_nav' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    
    <%= login_helper %>
  

      <%= yield %>


    <%= source_helper("application") %>
    
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p><%= copyright_generator %></p>
      </div>
    </footer>
  </div>
  </body>
</html>
